<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/estilo-login.css' %}">
    <title>Login | PELUDOS SHOP®</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="website icon" type="png" href="{% static '/img/295128.png' %}">

    <link rel="website icon" type="png" href="{% static 'img/Logo peludos shop.png' %}" >
    <!--https://cdnjs.com/libraries/font-awesome-->
</head>
<body>
    <div class="login">
        <form>
            <h1>Log-In</h1>
            <label>Nombre de usuario <i class="fa-solid fa-user"></i></label>
            <input type="text" placeholder="NombreUsuario@mail.com">
            <label>Contraseña <i class="fa-solid fa-lock"></i></label>
            <input type="password" placeholder="***************">

            <a href="inicio.html">
            <button type="button" class="btn" ><i class="fa-solid fa-right-to-bracket"></i> Ingresar</button>
            </a>

            <a href="#"> Olvidaste tu contraseña ?</a>
            <hr>
            <a href="registrarse.html">Crear una cuenta</a>
        </form>
    </div>

    <script src="{% static 'Js/carrito.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>




