<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Suscripcion | PELUDOS SHOP®</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo-suscripcion.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!--para iconos -->

    
</head>
  <body>

    
    <div class="container-fluid" id="barra_principal">
      <div class="row">
          <div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-1">
            <!-- LOGO -->
            <a href="inicio.html"><img  class="logo" src="img/Logo peludos shop.png" alt="..." ></a>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
  
            <!-- BARRA DE BUSQUEDA -->
            <nav class="navbar bg-body-tertiary" >
              <form class="container-fluid">
                <div class="input-group">
                  <h1>SUSCRIPCION</h1>
                </div>
              </form>
            </nav>
          </div>

                 <!-- BARRA NAVEGACION --> 
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary ">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item item_arriba">
                      <a class="nav-link active" aria-current="page" href="inicio.html"><img src="img/icono2.png" width="30px">PAGINA PRINCIPAL</a>
                  </ul>
                </div>
              </div>
            </nav>
        </div>



    </div>
</div> <!--container-fluid-->

      <div class="container">
        <div class="row">
            <div class="col">
              <br><br>
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="img/suscripcionmensual.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> $ 2.500</h5>
                      <p class="card-text">¡Únete a nuestra suscripción mensual para ayudar a los perritos necesitados de nuestra fundación! Cada mes, tu generosa contribución nos permite brindar refugio, alimentos, atención médica y amor a perros abandonados y maltratados. Con tu apoyo continuo, podemos garantizar un futuro más brillante para estos fieles amigos peludos. ¡Juntos, podemos marcar la diferencia en las vidas de estos dulces compañeros de cuatro patas!</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="img/suscripciontrimestral.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">$ 13.000</h5>
                      <p class="card-text">¡Únete a nuestra suscripción semestral y sé parte de la misión continua de ayudar a los perritos necesitados de nuestra fundación! Con tu compromiso a largo plazo, podemos hacer aún más por estos adorables compañeros de cuatro patas. Tu apoyo nos permite proporcionarles refugio seguro, cuidados médicos, alimentación adecuada y, lo más importante, el amor y la atención que merecen. Juntos, podemos asegurarnos de que ningún perrito se sienta solo o desamparado. ¡Haz una diferencia real en sus vidas al unirte a nosotros hoy!</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="img/suscripcionanual.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">$ 20.000</h5>
                      <p class="card-text">¡Hazte miembro de nuestra suscripción anual y comprométete a largo plazo con la noble causa de ayudar a los perritos necesitados de nuestra fundación! Con tu generosidad sostenida a lo largo del año, podemos realizar un impacto aún mayor en la vida de estos fieles amigos peludos. Tu apoyo continuo nos permite ofrecerles un refugio seguro, atención médica de calidad, alimentación adecuada y, sobre todo, el amor y la compasión que tanto necesitan. Únete a nosotros en nuestra misión de garantizar que cada perrito reciba el cuidado y la atención que se merece. ¡Tu compromiso anual puede marcar la diferencia en sus vidas para siempre!</p>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>

              <form class="row g-3">
                <div class="col-md-12">
                  <label for="validationDefault01" class="form-label">Tipo de suscripcion</label>
                  <select class="form-select" id="validationDefault01" required>
                    <option selected disabled value="">...</option>
                    <option>Mensual -- $2.500</option>
                    <option>Standard (semestral) -- $13.000</option>
                    <option>Anual -- $20.000</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault02" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="validationDefault02" value="" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault03" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="validationDefault03" value="" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefaultUsername" class="form-label">Username</label>
                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationDefault04" class="form-label">Ciudad</label>
                  <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">...</option>
                    <option>Angol
                    </option>
                    <option>Antofagasta
                  </option>
                    <option>Arica
                  </option>
                    <option>Calama
                  </option>
                    <option>Castro
                  </option>
                    <option>Cauquenes
                  </option>
                    <option>Chaitén
                  </option>
                    <option>Chañaral
                  </option>
                    <option>Chile Chico
                  </option>
                    <option>Chillán
                  </option>
                    <option>Cochrane
                  </option>
                    <option>Colina
                  </option>
                    <option>Concepción
                  </option>
                    <option>Copiapó
                  </option>
                    <option>Coquimbo
                  </option>
                    <option>Coyhaique
                  </option>
                    <option>Curicó
                  </option>
                    <option>Hanga Roa
                  </option>
                    <option>Illapel
                  </option>
                    <option>Iquique
                  </option>
                    <option>La Florida
                  </option>
                    <option>La Ligua
                  </option>
                    <option>La Serena
                  </option>
                    <option>La Unión
                  </option>
                    <option>Las Condes
                  </option>
                    <option>Lebu
                  </option>
                    <option>Linares
                  </option>
                    <option>Los Andes
                  </option>
                    <option>Los Ángeles
                  </option>
                    <option>Maipú
                  </option>
                    <option>Melipilla
                  </option>
                    <option>Osorno
                  </option>
                    <option>Ovalle
                  </option>
                    <option>Peñalolén
                  </option>
                    <option>Pichilemu
                  </option>
                    <option>Porvenir
                  </option>
                    <option>Pozo Almonte
                  </option>
                    <option>Puente Alto
                  </option>
                    <option>Puerto Aysén
                  </option>
                    <option>Puerto Montt
                  </option>
                    <option>Puerto Natales
                  </option>
                    <option>Puerto Williams
                  </option>
                    <option>Punta Arenas
                  </option>
                    <option>Putre
                  </option>
                    <option>Quillota
                  </option>
                    <option>Quilpué
                  </option>
                    <option>Rancagua
                  </option>
                    <option>San Antonio
                  </option>
                    <option>San Bernardo
                  </option>
                    <option>San Felipe
                  </option>
                    <option>San Fernando
                  </option>
                    <option>Santiago
                  </option>
                    <option>Talagante
                  </option>
                    <option>Talca
                  </option>
                    <option>Temuco
                  </option>
                    <option>Tocopilla
                  </option>
                    <option>Valdivia
                  </option>
                    <option>Vallenar
                  </option>
                    <option>Valparaíso
                  </option>
                    <option>Viña del Mar
                  </option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="validationDefault05" class="form-label">Regiones</label>
                  <select class="form-select" id="validationDefault05" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Región de Arica y Parinacota</option>
                        <option>Región de Tarapacá</option>
                        <option>Región de Antofagasta</option>
                        <option>Región de Atacama</option>
                        <option>Región de Coquimbo</option>
                        <option>Región de Valparaíso</option>
                        <option>Región del Libertador General Bernardo O'Higgins</option>
                        <option>Región del Maule</option>
                        <option>Región de Ñuble</option>
                        <option>Región del Biobío</option>
                        <option>Región de La Araucanía</option>
                        <option>Región de Los Ríos</option>
                        <option>Región de Los Lagos</option>
                        <option>Región de Aisén del G. Carlos Ibáñez del Campo</option>
                        <option>Región de Magallanes y de la Antártica Chilena</option>
                        <option>Región Metropolitana de Santiago</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="validationDefault05" class="form-label">Tipo de tarjeta</label>
                  <select class="form-select" id="validationDefault05" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Debito</option>
                    <option>Credito</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault06" class="form-label">Nombre del titular</label>
                  <input type="text" class="form-control" id="validationDefault06" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault07" class="form-label">Numero de tarjeta</label>
                  <input type="number" class="form-control" id="validationDefault07" required>
                </div>
                <div class="col-md-2">
                  <label for="validationDefault08" class="form-label">Fecha de expiracion</label>
                  <select class="form-select" id="validationDefault08" required>
                    <option selected disabled value="">Mes...</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <label for="validationDefault09" class="form-label">Año</label>
                  <select class="form-select" id="validationDefault09" required>
                    <option selected disabled value="">Año 20...</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="validationDefault10" class="form-label">Codigo de seguridad</label>
                  <input type="number" class="form-control" id="validationDefault10" required>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                      Aceptar términos y condiciones
                    </label>
                  </div>
                </div>
                
                <div class="col-4">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Terminos y condiciones
                </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Estos son los terminos y condiciones aceptalos ahoraaaa
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Suscribirme</button>
                </div>
              </form>
            </div>
        </div>
      </div>


  <!--   FOOTER   -->
  <div class="footer">
    <div class=" container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
          <img src="img/Logo peludos shop.png" width="150px" alt="">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
            <h5>AYUDA</h5>
            <a href="preguntasFrecuentes.html">Preguntas frecuentes</a>
            <a href="contacto.html">Contacto</a>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
          <h5>LEGAL</h5>
          <a href="">Términos y Condiciones</a>
          <a href="">Política de privacidad</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
          <h5>FUNDACION</h5>
          <a href="https://www.esperanzaanimal.cl/">Fundacion Esperanza Animal</a>

        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
          <h5>SUSCRIPCIÓN</h5>
          <a href="suscripcion.html">suscripción fundación</a>
        </div>
      </div>

    </div>
    <div class="co-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">

      <div class="social-media">
        <h5>Síguenos</h5>
        <a target="blank" href="https://www.instagram.com/fundacionesperanzaanimalchile/" class="social-media-icon">
          <i class='bx bxl-instagram' ></i>
        </a>
        <a target="blank" href="https://www.facebook.com/fundacionesperanzaanimalchile/" class="social-media-icon">
          <i class='bx bxl-facebook'></i>
        </a>
        <a target="blank" href="https://www.youtube.com/channel/UCREiRMZ84M5yAPrKm4dPu-g" class="social-media-icon">
          <i class='bx bxl-youtube'></i>
        </a>
      </div>
    </div>
  </div>
  
  
        <!--   D RESERVADOS   -->
    <div class="c-reservados">
      &copy; 2024 Peludos Shop. Todos los derechos reservados
        <!--http://www.ascii.cl/htmlcodes.htm-->
    </div>


    <script src="{% static 'Js/validaciones.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
